* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: 'RocknRoll One', sans-serif;
        
}

/* ---------------------------------------------Main------------------------------------------------- */

main {
    background-color: rgb(240, 227, 218);
    font-size: 5em;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: auto 0.1fr 2fr auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 0.1em;
    
}

/* ---------------------------------------------Navigation Blog Bar----------------------------------- */

.navigationblogbar {
    background-color: seashell;
    grid-row: 1/2;
    grid-column: 1/4;
    font-size: 1.5em;
    font-weight: bold;
    display: flex;
    /* align-self: center; */
    justify-content:center;
    align-items: center;
    padding: 0.2em;
   
    
    
}

.navigationblogbar  div a {
    text-decoration: none;
    color: black;
}

.navigationblogbar  div a:hover {
    color: darkorange;
    font-size: 0.8em ;

}

/* ---------------------------------------------Blog------------------------------------------------- */

.blog {
    background-color: rgba(220, 20, 60, 0.644);    
    grid-row: 2/3;
    grid-column: 1/4;
    font-size: 0.8em;
    font-weight: bold;
    text-align: center;    
    align-self: center;
    margin-right: 10%;
    margin-left: 10%;
    border-radius: 2em;
    box-shadow: 2px 2px 2px black inset;
    animation: moving 5s infinite alternate linear;
    
    

}

.blogname {
    font-size: 1em;
}

.blogname:hover {
    color: darkorange;
}

@keyframes moving {
    from {padding-right: 60%;}
    to {padding-left: 60%;}
}

/* ---------------------------------------- Content ---------------------------------------- */

/* .content {
    background-color: seashell;
    grid-row: 3/4;
    grid-column: 1/4;
    display: flex;
    flex-direction: column;
    margin-right: 5em;
    margin-left: 5em;
    padding: 1em;
    border: 1px solid rgb(196, 184, 175);
    margin-top: 0%;
    

}

.date {
    font-size: 0.8em;
    color: rgb(196, 184, 175);
}

h1 {
    font-size: 2em;
    text-align: center;
}

.creatineimagediv {
    display: flex;
    justify-content: center;
    
       
}

li {
    
    font-size: 1em;    
    margin-left: 1em;
    
}



.maincontent {
    font-size: 1.5em;
    text-align: justify;
   
} */

.content {
    background-color: seashell;
    grid-row: 3/4;
    grid-column: 1/4;
    display: flex;
    flex-direction: column;
    margin-right: 5em;
    margin-left: 5em;
    padding: 1em;
    border: 1px solid rgb(196, 184, 175);
    margin-top: 0%;
    

}

.date {
    font-size: 0.8em;
    color: rgb(196, 184, 175);
}

h1 {
    font-size: 2em;
    text-align: center;
}

.creatineimagediv {
    display: flex;
    justify-content: center;
    
       
}

li {
    
    font-size: 1em;    
    margin-left: 1em;
    
}



.maincontent {
    font-size: 1em;
    text-align: justify;
    
    
   
}


/* ---------------------------------------- Comments ---------------------------------------------- */

label {
    font-size: 1.8em;
}

#comments {
    border: 2px solid brown;
    width: 50%;
    height: 20vh;

}

#buttt {
    background-color: dimgray;
    width: 5em;
    height: 2em;
    font-size: 1em;
    box-shadow: 2px 2px 5px black;
}





/* -----------------------------------------Footer------------------------------------------------- */


.foot {
    background-color: seashell;
    grid-row: 4/5;
    grid-column: 1/4;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}

.foot .text  {
    color: darkorange;
}

.foot .text:hover  {
    color: mediumblue;
}

.fab {
    margin-right: 10px;
    font-size: 1.6em;
    color: darkorange;
}

.fa-facebook:hover{
    
    color: blue;
}

.fa-instagram:hover{
    color: maroon;
}








/* ------------------------------------------------Smaller View------------------------------------------------ */
/* ------------------------------------------------800px------------------------------------------------ */
/* ------------------------------------------------800px------------------------------------------------ */

@media (max-width: 800px) {
    main {
        
        grid-template-rows: 0.2fr 0.2fr 1fr 0.2fr;
        grid-template-columns: 1fr;
        width: 100%;
        height: 100vh;
        grid-gap: 0.5em;
        
    }

    /* --------------------------------800px Navigation Bar------------------------------------------ */

    .navigationblogbar {
        grid-row: 1/2;
        grid-column: 1/2; 
        font-size: 5em;
        padding: 0;
        
        
        
    }

    /* --------------------------------800px Blog ------------------------------------------ */

    .blog { 
        
        grid-row: 2/3;
        grid-column: 1/2;   
        animation: moving 2s infinite alternate linear;   
        margin-right: 0.1em; 
        margin-left: 0.1em;
        align-self: 0;
        font-size: 2em;
        
        
    
    }

    @keyframes moving {
        from {padding-right: 40%;}
        to {padding-left: 40%;}
    }

    

    /* ------------------------------- 800 Content ------------------------------------------- */


    .content {
        
        grid-row: 3/4;
        grid-column: 1/2;
        
        margin-right: 0;
        margin-left: 0;
        font-size: 1em;
    }

    .date {
        font-size: 0.6em;
        color: rgb(196, 184, 175);
    }

    .creatineimage1 {
        width: 100%;
        height: auto;
        object-fit: cover;
        margin-left: 0%;
        margin-right: 0%;
    }

    .maincontent {
        font-size: 1.5em;
        text-align: justify;
       
    }
    
    /* --------------------------------800px Comments ------------------------------------------ */


    label {
        font-size: 2.5em;
    }

    #comments {
       
        width: 100%;
        height:40vh;
    
    }
   
    #buttt {
        
        font-size: 1.5em;
    }


    /* --------------------------------800px Footer ------------------------------------------ */

   
    .foot {
     
        grid-row: 4/5;
        grid-column: 1/2;
        justify-content: center;
        align-items: center;
        text-align: center;
    
    }

    
   
    
    
    
}
